//to watch and compile, run: 'stylus -w public/stylus/index.styl -o public/stylesheet.css'

@import 'public/stylus/variables'

//show
.main-selectedShow
  verticalCenter()
  padding 0px 0px 50px
  font-family 'Oswald'
  font-weight bold
.main-selectedShow-img
  height thumbnail*5
  padding-top 25%
.main-selectedShow-episodeCount
  color grey
  font-size title/3
.main-selectedShow-title
  font-size title
//slider
.slider
  display flex
  overflow scroll
  overflow-y hidden
  width 100%
  font-family 'Oswald'
figure
  margin 0px
figcaption
  display flex
  justify-content center
.slider-thumbnail
  object-fit cover
  object-position top
  width thumbnail
  height thumbnail
  margin 20px 20px 10px

@media desktop
  main
    verticalCenter()
    width 100%
  hr
    order 1
  .main-selectedShow
    order 2
  .main-selectedShow-img
    height thumbnail*8
    padding-top 5%
  .main-selectedShow-episodeCount
    font-size title
  .main-selectedShow-title
    font-size title*2
  .slider
    justify-content center
  .slider-thumbnail
    height thumbnail*2
    width thumbnail*2
