.main-selectedShow {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 50px;
  font-family: 'Oswald';
  font-weight: bold;
}
.main-selectedShow-img {
  height: 250px;
  padding-top: 25%;
}
.main-selectedShow-episodeCount {
  color: #989898;
  font-size: 20px/3;
}
.main-selectedShow-title {
  font-size: 20px;
}
.slider {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  width: 100%;
  font-family: 'Oswald';
  justify-content: space-between;
}
figure {
  margin: 0px;
  position: relative;
}
figcaption {
  display: flex;
  justify-content: center;
}
.slider-thumbnail,
.slider-shadow {
  width: 50px;
  height: 50px;
  margin: 20px 20px 10px;
}
.slider-thumbnail {
  object-fit: cover;
  object-position: top;
}
.slider-shadow {
  background: rgba(0,0,0,0.6);
  position: absolute;
  top: 0;
}
@media only screen and (min-width: 801px) {
  main {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  hr {
    order: 1;
  }
  .main-selectedShow {
    order: 2;
  }
  .main-selectedShow-img {
    height: 400px;
    padding-top: 5%;
  }
  .main-selectedShow-episodeCount {
    font-size: 20px;
  }
  .main-selectedShow-title {
    font-size: 40px;
  }
  .slider-thumbnail,
  .slider-shadow {
    height: 100px;
    width: 100px;
  }
}
